@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main{
    font-family: "Roboto";
}
.search, .select{
     margin: 10px;
     font-size: 18px;
    }

p{
    font-weight: bold;
}

span{
    font-weight: normal;
}

ul{
    list-style: none;
    border: 1px solid black;
    padding: 10px;
    margin: 30px;
    width: 300px;
    border-radius: 10px;
}
